Data source:- https://www.kaggle.com/oossiiris/hackerearth-machine-learning-exhibit-art

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
import numpy as np
import pandas as pd
tp = pd.read_csv('gdrive/My Drive/Colab Notebooks/dataset/train.csv',sep=',')

In [ ]:
tp.shape

(6500, 20)

In [ ]:
tp.head()

            Customer Id     Artist Name  ...          Customer Location    Cost
0  fffe3900350033003300   Billy Jenkins  ...     New Michelle, OH 50777 -283.29
1  fffe3800330031003900     Jean Bryant  ...  New Michaelport, WY 12072 -159.96
2  fffe3600370035003100    Laura Miller  ...      Bowmanshire, WA 19241 -154.29
3      fffe350031003300  Robert Chaires  ...       East Robyn, KY 86375 -161.16
4  fffe3900320038003400    Rosalyn Krol  ...        Aprilside, PA 52793 -159.23

[5 rows x 20 columns]

In [ ]:
tp['Cost']=tp['Cost'].abs()

In [ ]:
tp['Scheduled Date']=pd.to_datetime(tp['Scheduled Date'],format='%m/%d/%y')
tp['Delivery Date']=pd.to_datetime(tp['Delivery Date'],format='%m/%d/%y')

In [ ]:
tp['S_month']=tp['Scheduled Date'].dt.month
tp['S_year']=tp['Scheduled Date'].dt.year
tp['S_Day']=tp['Scheduled Date'].dt.day

In [ ]:
tp['D_month']=tp['Delivery Date'].dt.month
tp['D_year']=tp['Delivery Date'].dt.year
tp['D_Day']=tp['Delivery Date'].dt.day

In [ ]:
tp.drop(['Scheduled Date','Delivery Date'],1,inplace=True)

In [ ]:
tp.head()

            Customer Id     Artist Name  ...  D_year  D_Day
0  fffe3900350033003300   Billy Jenkins  ...    2015      3
1  fffe3800330031003900     Jean Bryant  ...    2017      5
2  fffe3600370035003100    Laura Miller  ...    2015      8
3      fffe350031003300  Robert Chaires  ...    2015     20
4  fffe3900320038003400    Rosalyn Krol  ...    2016     14

[5 rows x 24 columns]

In [ ]:
tp['Transport'].fillna("missingTransport",inplace=True)
tp['Material'].fillna("missingMaterial",inplace=True)
tp['Remote Location'].fillna("missingRemoteLocation",inplace=True)

In [ ]:
tp['Artist Reputation'].fillna(value=tp['Artist Reputation'].mean(), inplace=True)
tp['Height'].fillna(value=tp['Height'].mean(), inplace=True)
tp['Weight'].fillna(value=tp['Weight'].mean(), inplace=True)
tp['Width'].fillna(value=tp['Width'].mean(), inplace=True)

In [ ]:
tp.isnull().sum()

Customer Id              0
Artist Name              0
Artist Reputation        0
Height                   0
Width                    0
Weight                   0
Material                 0
Price Of Sculpture       0
Base Shipping Price      0
International            0
Express Shipment         0
Installation Included    0
Transport                0
Fragile                  0
Customer Information     0
Remote Location          0
Customer Location        0
Cost                     0
S_month                  0
S_year                   0
S_Day                    0
D_month                  0
D_year                   0
D_Day                    0
dtype: int64

In [ ]:
tp=tp.drop("Customer Id",axis=1)

In [ ]:
tp.columns

Index(['Artist Name', 'Artist Reputation', 'Height', 'Width', 'Weight',
       'Material', 'Price Of Sculpture', 'Base Shipping Price',
       'International', 'Express Shipment', 'Installation Included',
       'Transport', 'Fragile', 'Customer Information', 'Remote Location',
       'Customer Location', 'Cost', 'S_month', 'S_year', 'S_Day', 'D_month',
       'D_year', 'D_Day'],
      dtype='object')

In [ ]:
tp=tp[['Height', 'Width', 'Weight','International', 'Express Shipment', 'Base Shipping Price','Installation Included','Transport', 'Fragile', 'Remote Location', 'S_month', 'S_year', 'S_Day', 'D_month','D_year', 'D_Day', 'Cost']]

In [ ]:
tp.head()

   Height     Width         Weight  ... D_year D_Day    Cost
0    17.0  6.000000    4128.000000  ...   2015     3  283.29
1     3.0  3.000000      61.000000  ...   2017     5  159.96
2     8.0  5.000000     237.000000  ...   2015     8  154.29
3     9.0  9.617647  400694.821918  ...   2015    20  161.16
4    17.0  6.000000     324.000000  ...   2016    14  159.23

[5 rows x 17 columns]

In [ ]:
tp=tp.replace({'Yes': True,'No':False,"missingRemoteLocation":False})

In [ ]:
tp = pd.get_dummies(tp,prefix=['Transport'], columns = ['Transport'], drop_first=True)

In [ ]:
tp.head()

   Height     Width  ...  Transport_Waterways  Transport_missingTransport
0    17.0  6.000000  ...                    0                           0
1     3.0  3.000000  ...                    0                           0
2     8.0  5.000000  ...                    0                           0
3     9.0  9.617647  ...                    0                           1
4    17.0  6.000000  ...                    0                           0

[5 rows x 19 columns]

In [ ]:
tp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Height                      6500 non-null   float64
 1   Width                       6500 non-null   float64
 2   Weight                      6500 non-null   float64
 3   International               6500 non-null   bool
 4   Express Shipment            6500 non-null   bool
 5   Base Shipping Price         6500 non-null   float64
 6   Installation Included       6500 non-null   bool
 7   Fragile                     6500 non-null   bool
 8   Remote Location             6500 non-null   bool
 9   S_month                     6500 non-null   int64
 10  S_year                      6500 non-null   int64
 11  S_Day                       6500 non-null   int64
 12  D_month                     6500 non-null   int64
 13  D_year                      6500 non-null   int64
 14  D_Day                       6500 non-null   int64
 15  Cost                        6500 non-null   float64
 16  Transport_Roadways          6500 non-null   uint8
 17  Transport_Waterways         6500 non-null   uint8
 18  Transport_missingTransport  6500 non-null   uint8
dtypes: bool(5), float64(5), int64(6), uint8(3)
memory usage: 609.5 KB

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import mean_squared_log_error

features = tp.drop("Cost",axis=1)
labels = np.array(tp['Cost'])
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.2, random_state = 20)



from sklearn.neural_network import MLPRegressor
lr = MLPRegressor(random_state=1, max_iter=500000)

lr.fit(train_features, train_labels)

print("Analysis of Testing Dataset")
y_pred = lr.predict(test_features)
print('Accuracy {}'.format(lr.score(test_features, test_labels)))
print("This is the predicted model",y_pred)
print("This is the original trained labels",test_labels)

Analysis of Testing Dataset
Accuracy 0.8913213397253492
This is the predicted model [15199.67423321   274.45015445   370.49763504 ... 14918.10285468
 62439.86907958 15145.75852469]
This is the original trained labels [1.5766000e+02 3.2940000e+02 1.4346000e+02 ... 1.7370800e+03 3.2664808e+05
 1.7118000e+02]